body {
    margin: 0px;
    text-align: center;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 120%;
}

h1 {
    font-size: 3.5rem;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

h2 {
    color: #66BFBF;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 70px;
}

.middle-container {
    background-color: white;
}


.bottom-container {
    padding-top: 40px;
    background-color: #66BFBF;
    padding-bottom: 5px;
}

.bottom-cloud {
    position: absolute;
    left: 200px;
    width: 15%;
}

.top-cloud {
    position: absolute;
    right: 250px;
    top: 40px;
}

.avatar {
    width: 180px;
    margin-top: 50px;
}

.intro {
    font-weight: normal;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.mySkills {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chillies {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.profile {
    text-align: center;
}

.personal-description {
    display: inline-block;
    width: 50%;
    margin-bottom: 0px;
}

.dot {
    border-style: dotted none none;
    border-width: 5px;
    width: 4%;
    border-color: gray;
    height: 3px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.BUTTON_PMP{
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #539393);
    background-image: -moz-linear-gradient(top, #66BFBF, #539393);
    background-image: -ms-linear-gradient(top, #66BFBF, #539393);
    background-image: -o-linear-gradient(top, #66BFBF, #539393);
    background-image: linear-gradient(to bottom, #66BFBF, #539393);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 10px;
    line-height: 10px;
    color: #FFFFFF;
    font-family: sans-serif;
    width: 169px;
    font-size: 24px;
    font-weight: 900;
    padding: 22px;
    text-shadow: 0px 0px 0px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 50px;
}

.footer-link{
    color: #11999E;
    font-family: sans-serif;
    text-decoration: none;
    padding: 0px 20px 0px 20px;
}

.Name{
    color: #EAF6F6;
}