body {
    margin: 0px;
    text-align: center;
    font-family: 'Baloo Tamma 2', cursive;
}

h1{
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color:  #f6f4e6;
    position: relative;
    padding-top: 100px;
}

.bottom-cloud{
    position: absolute;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}