body {
    margin: 0px;
    text-align: center;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 120%;
}

h1{
    font-size: 3.5rem;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

h2{
    color: #66BFBF;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color:  #f6f4e6;
    position: relative;
    padding-top: 100px;
}

.middle-container{
}


.bottom-container{
}

.bottom-cloud{
    position: absolute;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.avatar{
    width:200px;
    height:200px;
}

.intro{
    font-weight: normal;
}